body {
    font-family: Arial, sans-serif;
}

header {
    background-color: lightblue;
    text-align: center;
}

main {
    background-color: lightpink;
    padding: 20px;
}

footer {
    background-color: lightblue;
    text-align: center;
}

#minhaLista li {
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}